@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;
    max-width: 100%
}

@keyframes move_1 {
    0% {
        top: 20vh
    }

    50% {
        top: calc( 20vh - 5px)
    }

    100% {
        top: 20vh
    }
}

@keyframes move_2 {
    0% {
        top: 40vh
    }

    50% {
        top: calc( 40vh + 5px)
    }

    100% {
        top: 40vh
    }
}

@keyframes move_3 {
    0% {
        bottom: 30vh
    }

    50% {
        bottom: calc( 30vh + 5px)
    }

    100% {
        bottom: 30vh
    }
}

@keyframes move_4 {
    0% {
        bottom: 300px
    }

    50% {
        bottom: calc( 300px - 5px)
    }

    100% {
        bottom: 300px
    }
}

@keyframes btn_move {
    0% {
        top: -35px
    }

    50% {
        top: -50px
    }

    100% {
        top: -35px
    }
}

.add-line {
    max-width: 150px;
    position: fixed;
    z-index: 99;
    right: 0px;
    bottom: 95px;
    padding-bottom: 5px;
    background-color: #4AAC43;
    overflow: hidden;
    transition: .3s;
    border-radius: 10px;
    border: 1.5px solid #4AAC43;
    display: flex;
    flex-direction: column;
    align-items: center
}

@media (max-width: 1440px) {
    .add-line {
        right:calc((100% - 1000px) / 2 - (200px - 10px))
    }
}

@media (max-width: 1366px) {
    .add-line {
        right:10px
    }
}

@media (max-width: 1280px) {
    .add-line {
        bottom:90px
    }
}

@media (max-width: 1024px) {
    .add-line {
        right:10px;
        bottom: 170px;
        padding: 0;
        border-radius: 50px;
        border: 0;
        width: 80px;
        height: 80px;
        justify-content: center
    }
}

@media (max-width: 576px) {
    .add-line {
        right:5px;
        bottom: 150px;
        width: 65px;
        height: 65px
    }
}

@media (orientation: landscape) and (max-width: 992px) {
    .add-line {
        right:10px;
        bottom: 15px;
        padding: 0;
        border-radius: 50px;
        border: 0;
        width: 50px;
        height: 50px;
        justify-content: center
    }

    .add-line>* {
        display: none
    }
}

@media (orientation: landscape) and (max-width: 1024px) {
    .add-line {
        bottom:15px
    }
}

.add-line h3 {
    width: 100%;
    padding: 5px 15px;
    background-color: #fff;
    font-size: 20px;
    color: #4AAC43;
    font-weight: bold;
    text-align: center
}

@media (max-width: 1024px) {
    .add-line>* {
        display:none
    }
}

.add-line p,.add-line span {
    color: #fff;
    font-size: 14px;
    line-height: 30px
}

.add-line img {
    width: calc(100% - 40px)
}

.add-line span {
    text-decoration: none
}

.add-line .line-logo {
    display: none;
    width: 50px;
    height: 50px;
    fill: #fff
}

@media (max-width: 992px) and (orientation: landscape) {
    .add-line .line-logo {
        display:inline-block;
        width: 30px;
        height: 30px
    }
}

@media (max-width: 1024px) {
    .add-line .line-logo {
        display:inline-block
    }
}

@media (max-width: 576px) {
    .add-line .line-logo {
        width:40px
    }
}

.add-line.show {
    visibility: visible;
    opacity: 1
}

@media (max-width: 1366px) {
    .add-line.show {
        opacity:0.8
    }
}

@media (max-width: 768px) {
    .add-line.show {
        opacity:1
    }
}

.gotop {
    width: 80px;
    height: 80px;
    background-color: #000;
    position: fixed;
    z-index: 99;
    right: calc((100% - 1200px) / 2 - (100px + 40px - 10px));
    bottom: 65px;
    visibility: hidden;
    border-radius: 50%;
    color: #fff;
    opacity: 0;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.gotop:hover {
    transform: scale(1.1)
}

@media (max-width: 992px) {
    .gotop:hover {
        transform:scale(1)
    }
}

@media (max-width: 1440px) {
    .gotop {
        right:calc((100% - 1000px) / 2 - (100px + 40px - 10px))
    }
}

@media (max-width: 1366px) {
    .gotop {
        right:10px
    }
}

@media (max-width: 576px) {
    .gotop {
        right:5px;
        width: 65px;
        height: 65px
    }
}

.gotop.show {
    visibility: visible;
    opacity: 1
}

.gotop p {
    line-height: 32px;
    font-weight: bold
}

.contact {
    background: url("/img/bg/contact.jpg") center no-repeat;
    background-size: cover
}

@media (max-width: 768px) {
    .contact {
        padding:30px 0
    }
}

.contact .container {
    display: flex;
    flex-direction: column;
    align-items: center
}

.contact h2 {
    display: inline-block;
    font-weight: bold;
    font-size: 50px;
    color: #3db1ff
}

@media (max-width: 768px) {
    .contact h2 {
        font-size:30px
    }
}

.form-box {
    max-width: 800px;
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column
}

.form-box input,.form-box textarea {
    width: 100%;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-align: left;
    color: #8e8e8e;
    background-color: #fff;
    border: none;
    border-radius: 5px
}

.form-box input:focus,.form-box textarea:focus {
    outline: none
}

.form-box input {
    padding: 0 0 0 16px;
    height: 43px;
    margin-bottom: 25px
}

.form-box textarea {
    padding: 15px;
    height: 200px
}

.form-box .twice-input {
    width: 100%;
    display: flex;
    align-items: center
}

@media (max-width: 768px) {
    .form-box .twice-input {
        flex-direction:column
    }
}

.form-box .twice-input input:first-child {
    margin-right: 20px;
    width: calc(65% - 20px)
}

@media (max-width: 768px) {
    .form-box .twice-input input:first-child {
        margin-right:0;
        width: 100%
    }
}

.form-box .twice-input input:last-child {
    width: 35%
}

@media (max-width: 768px) {
    .form-box .twice-input input:last-child {
        width:100%
    }
}

@media screen and (max-width: 1200px) {
    .form-box {
        margin:20px auto
    }
}

.submit {
    display: inline-block;
    margin: 0 auto;
    padding: 20px 50px;
    border: none;
    border-radius: 50px;
    background-color: #3db1ff;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    transition: all 0.3s;
    display: flex;
    align-items: center
}

.submit svg {
    margin-left: 15px;
    width: 22px;
    height: 22px;
    fill: #fff;
    transition: all 0.3s
}

.submit:hover {
    background-color: #a3daff;
    color: #24a7ff
}

.submit:hover svg {
    fill: #24a7ff
}

.swiper {
    margin: 0 auto;
    width: 60%
}

@media (max-width: 1440px) {
    .swiper {
        width:80%
    }
}

@media (max-width: 992px) and (orientation: landscape) {
    .swiper {
        width:80%
    }
}

.swiper .swiper-slide {
    cursor: pointer
}

.swiper .swiper-slide .video-btn {
    display: flex;
    flex-direction: column;
    align-items: center
}

.swiper .swiper-slide img {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0,0,0,0.4)
}

.swiper .swiper-slide h4 {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 15px rgba(0,0,0,0.6)
}

@media (max-width: 992px) and (orientation: landscape) {
    .swiper .swiper-slide h4 {
        font-size:14px
    }
}

.swiper.full {
    width: 90%
}

.swiper.full .swiper-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-auto-flow: column
}

.swiper.full .swiper-wrapper>.swiper-slide {
    height: fit-content
}

.swiper.full .swiper-slide .link-btn {
    display: flex;
    flex-direction: column;
    align-items: center
}

.swiper.full .swiper-slide img {
    border-radius: 0;
    height: 116px
}

.swiper.full .swiper-slide h4 {
    font-size: 14px
}

#modal_3 .swiper-button-prev img,#modal_3 .swiper-button-next img {
    width: 27px
}

#modal_3 .swiper-button-prev {
    left: 30px
}

#modal_3 .swiper-button-prev::after {
    display: none
}

#modal_3 .swiper-button-next {
    right: 30px
}

#modal_3 .swiper-button-next::after {
    display: none
}

#modal_3 .swiper-button-next img {
    transform: rotate(180deg)
}

.blocker {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    z-index: 999;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    opacity: 0;
    transition: all .3s ease-in-out
}

@media (max-width: 576px) {
    .blocker {
        padding:10px
    }
}

.blocker:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.05em
}

.blocker.show_1 {
    display: block
}

.blocker.show_2 {
    opacity: 1;
    transition: all .3s ease-in-out
}

.modal {
    display: none;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    max-width: 900px;
    width: 90%;
    box-sizing: border-box;
    background-color: #272727;
    padding: 100px 30px;
    border-radius: 15px;
    -o-box-shadow: 0 0 10px #000;
    -ms-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    text-align: left
}

@media (max-width: 576px) {
    .modal {
        margin-top:60px;
        padding: 15px
    }
}

.modal.show {
    display: inline-block
}

.modal a.close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    color: #000;
    font-size: 25px;
    line-height: 25px;
    font-family: 'Fredoka One', cursive;
    background-color: #fff
}

@media (max-width: 576px) {
    .modal a.close-modal {
        top:-60px;
        right: 0;
        width: 50px;
        height: 50px;
        font-size: 25px;
        line-height: 25px
    }
}

.modal .modal-content {
    display: none
}

@media (max-width: 576px) {
    .modal .modal-content {
        padding:0;
        max-height: 85vh
    }
}

.modal .modal-content .content-flex {
    display: flex;
    flex-direction: column;
    align-items: center
}

.modal .modal-content .content-flex h4 {
    margin-bottom: 15px;
    color: #3db1ff;
    font-size: 40px
}

@media (max-width: 576px) {
    .modal .modal-content .content-flex h4 {
        font-size:30px
    }
}

.modal .modal-content .content-flex .img-box {
    margin-bottom: 50px
}

@media (max-width: 576px) {
    .modal .modal-content .content-flex .img-box {
        margin-bottom:30px
    }
}

.modal .modal-content .content-flex .img-box img {
    margin-bottom: 15px;
    width: 100%
}

.modal .modal-content .content-flex .img-box h5 {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 35px
}

@media (max-width: 576px) {
    .modal .modal-content .content-flex .img-box h5 {
        font-size:20px;
        line-height: 25px
    }
}

.modal .modal-content .content-flex .img-box p {
    font-size: 18px;
    line-height: 25px
}

@media (max-width: 576px) {
    .modal .modal-content .content-flex .img-box p {
        font-size:16px;
        line-height: 22px
    }
}

.content-img {
    display: flex
}

.content-img .img-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

.content-img .img-box img {
    width: 250px
}

.content-img .img-box h5 {
    margin-top: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: bold
}

html {
    scroll-behavior: smooth
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #000
}

* {
    box-sizing: border-box;
    font-family: '微軟正黑體', sans-serif, Arial, Helvetica
}

.video-box {
    position: relative;
    overflow: hidden;
    height: 100vh
}

@media (max-width: 1440px) {
    .video-box {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }
}

.video-box .video-menu-box {
    display: none;
    opacity: 0;
    transition: all .1s ease-in-out
}

/* .video-box .video-menu-box.display {
    display: block
} */

.video-box .video-menu-box.show {
    opacity: 1
}

.video-box .text-box {
    display: inline-block;
    position: absolute;
    z-index: 1;
    font-weight: bold;
    font-size: 33px;
    color: #fff;
    text-shadow: 5px 4px 10px #7ee5ff,0px -1px 10px #7ee5ff;
    letter-spacing: 2px;
    white-space: nowrap
}

@media (max-width: 992px) and (orientation: landscape) {
    .video-box .text-box {
        font-size:25px
    }
}

@media (max-width: 576px) {
    .video-box .text-box {
        font-size:25px
    }
}

.video-box .text-box p {
    position: relative
}

.video-box .text-box p::before,.video-box .text-box p::after {
    width: 100%;
    position: absolute;
    content: attr(text);
    top: 3px;
    left: 6px;
    font-size: 33px;
    font-weight: bold;
    white-space: nowrap;
    letter-spacing: 1.5px
}

@media (max-width: 992px) and (orientation: landscape) {
    .video-box .text-box p::before,.video-box .text-box p::after {
        font-size:25px
    }
}

@media (max-width: 576px) {
    .video-box .text-box p::before,.video-box .text-box p::after {
        font-size:25px
    }
}

.video-box .text-box p::after {
    z-index: -1;
    color: #000;
    -webkit-text-stroke: 8px black;
    text-shadow: 5px 4px 20px #7ee5ff,0px -1px 20px #7ee5ff
}

@media (max-width: 992px) and (orientation: landscape) {
    .video-box .text-box p::after {
        -webkit-text-stroke:4px black;
        text-shadow: 2.5px 2px 10px #7ee5ff,0px -1px 10px #7ee5ff
    }
}

@media (max-width: 576px) {
    .video-box .text-box p::after {
        -webkit-text-stroke:4px black;
        text-shadow: 2.5px 2px 10px #7ee5ff,0px -1px 10px #7ee5ff
    }
}

.video-box .text-box p::before {
    z-index: -2;
    color: transparent;
    -webkit-text-stroke: 8px transparent;
    text-shadow: 5px 4px 30px #7ee5ff,0px -1px 30px #7ee5ff
}

.video-box .text-box.show {
    transition: opacity 2s, left 2s ease-out, right 2s ease-in-out
}

.video-box .text-box.p_1 {
    top: 30vh;
    left: 8vw
}

@media (max-width: 992px) and (orientation: landscape) {
    .video-box .text-box.p_1 {
        top:28vh
    }
}

.video-box .text-box.p_1.show {
    left: 28vw
}

.video-box .text-box.p_2 {
    top: 40vh;
    left: 8vw
}

@media (max-width: 992px) and (orientation: landscape) {
    .video-box .text-box.p_2 {
        top:42vh
    }
}

.video-box .text-box.p_2.show {
    left: 28vw
}

.video-box .text-box.p_3 {
    top: 50vh;
    left: 8vw
}

@media (max-width: 992px) and (orientation: landscape) {
    .video-box .text-box.p_3 {
        top:56vh
    }
}

.video-box .text-box.p_3.show {
    left: 28vw
}

.video-box .text-box.p_4 {
    top: 60vh;
    left: 8vw
}

@media (max-width: 992px) and (orientation: landscape) {
    .video-box .text-box.p_4 {
        top:70vh
    }
}

.video-box .text-box.p_4.show {
    left: 28vw
}

.video-box .text-box.p_4_left {
    top: 55vh;
    left: 20vw
}

.video-box .text-box.p_5 {
    top: 30vh;
    right: 8vw
}

@media (max-width: 992px) and (orientation: landscape) {
    .video-box .text-box.p_5 {
        top:28vh
    }
}

.video-box .text-box.p_5.show {
    right: 28vw
}

.video-box .text-box.p_6 {
    top: 40vh;
    right: 8vw
}

@media (max-width: 992px) and (orientation: landscape) {
    .video-box .text-box.p_6 {
        top:42vh
    }
}

.video-box .text-box.p_6.show {
    right: 28vw
}

.video-box .text-box.p_7 {
    top: 50vh;
    right: 8vw
}

@media (max-width: 992px) and (orientation: landscape) {
    .video-box .text-box.p_7 {
        top:56vh
    }
}

.video-box .text-box.p_7.show {
    right: 28vw
}

.video-box .video_02 .text-box {
    left: initial
}

.video-box .video_02 .text-box.p_1 {
    top: 20vh;
    left: 8vw
}

.video-box .video_02 .text-box.p_1.show {
    left: 20vw
}

.video-box .video_02 .text-box.p_2 {
    top: 35vh;
    left: 8vw
}

.video-box .video_02 .text-box.p_2.show {
    left: 20vw
}

.video-box .video_02 .text-box.p_3 {
    top: 50vh;
    left: 8vw
}

.video-box .video_02 .text-box.p_3.show {
    left: 20vw
}

.video-box .video_02 .text-box.p_4 {
    width: initial;
    top: 65vh;
    left: 8vw
}

.video-box .video_02 .text-box.p_4.show {
    left: 20vw
}

.video-box .video_02 .text-box.p_5 {
    top: 25vh;
    right: 5vh
}

.video-box .video_02 .text-box.p_5.show {
    right: 20vw
}

.video-box .video_02 .text-box.p_6 {
    top: 40vh;
    right: 5vh
}

.video-box .video_02 .text-box.p_6.show {
    right: 20vw
}

.video-box .video_02 .text-box.p_7 {
    top: 55vh;
    right: 5vh
}

.video-box .video_02 .text-box.p_7.show {
    right: 20vw
}

.video-box .video_03 .text-box {
    text-shadow: 5px 4px 10px #665BA5, 0px -1px 10px #665BA5
}

.video-box .video_03 .text-box p::after {
    text-shadow: 5px 4px 20px #665BA5, 0px -1px 20px #665BA5
}

.video-box .video_03 .text-box p::before {
    text-shadow: 5px 4px 30px #665BA5, 0px -1px 30px #665BA5
}

.video-box .video_03 .text-box.p_1 {
    top: 20vh;
    left: 15vw
}

.video-box .video_03 .text-box.p_2 {
    top: 40vh;
    left: 15vw
}

.video-box .video_03 .text-box.p_3 {
    bottom: 30vh;
    left: 15vw
}

.video-box .video_03 .text-box.p_4 {
    width: 100%;
    text-align: center;
    bottom: 400px
}

.video-box .video_03 .text-box.p_5 {
    top: 20vh;
    right: 15vw
}

.video-box .video_03 .text-box.p_6 {
    top: 40vh;
    right: 15vw
}

.video-box .video_03 .text-box.p_7 {
    bottom: 30vh;
    right: 15vw
}

.video-box .a3 .text-box {
    text-shadow: 5px 4px 10px #665BA5, 0px -1px 10px #665BA5
}

@media (max-width: 992px) and (orientation: landscape) {
    .video-box .a3 .text-box {
        text-shadow:2.5px 2px 10px #665BA5, 0px -1px 10px #665BA5
    }
}

@media (max-width: 576px) {
    .video-box .a3 .text-box {
        -webkit-text-stroke:4px black;
        text-shadow: 2.5px 2px 10px #665BA5, 0px -1px 10px #665BA5
    }
}

.video-box .a3 .text-box p::after,.video-box .a3 .text-box p::before {
    text-shadow: 5px 4px 20px #665BA5, 0px -1px 20px #665BA5
}

@media (max-width: 992px) and (orientation: landscape) {
    .video-box .a3 .text-box p::after,.video-box .a3 .text-box p::before {
        text-shadow:2.5px 2px 10px #665BA5, 0px -1px 10px #665BA5
    }
}

@media (max-width: 576px) {
    .video-box .a3 .text-box p::after,.video-box .a3 .text-box p::before {
        -webkit-text-stroke:4px black;
        text-shadow: 2.5px 2px 10px #665BA5, 0px -1px 10px #665BA5
    }
}

.video-box .video_04 .text-box.p_1 {
    top: 43vh
}

.video-box .video_04 .text-box.p_5 {
    top: 43vh
}

.video-box .video_05 .text-box {
    position: initial
}

.video-box .video_05 .left,.video-box .video_05 .right {
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.video-box .video_05 .left>*:nth-of-type(2),.video-box .video_05 .right>*:nth-of-type(2) {
    margin-top: 100px
}

.video-box .video_05 .left {
    left: 25%
}

.video-box .video_05 .right {
    right: 25%
}

.video-box video {
    width: 100%
}

@media (max-width: 1440px) {
    .video-box video {
        transform:scale(1.25)
    }
}

@media (max-width: 992px) and (orientation: landscape) {
    .video-box video {
        margin-top:0
    }
}

.video-box video.video {
    display: none;
    opacity: 0;
    transition: all .5s ease-in-out
}

.video-box video.video.display {
    display: block
}

.video-box video.video.show {
    opacity: 1
}

.video-box .mute-video {
    position: absolute;
    bottom: 30px;
    left: 30px
}

.video-box .mute-video .play,.video-box .mute-video .pause {
    display: none;
    cursor: pointer;
    padding: 15px
}

.video-box .mute-video .play svg,.video-box .mute-video .pause svg {
    width: 20px;
    height: 20px;
    fill: #3db1ff
}

.video-box .mute-video .play.active,.video-box .mute-video .pause.active {
    display: inline-block
}

.video-box .link-group {
    position: absolute;
    z-index: 99;
    right: 0;
    top: calc(280px);
    transition: all .3s
}

@media (max-width: 1440px) {
    .video-box .link-group {
        top:270px
    }
}

@media (max-width: 1366px) {
    .video-box .link-group {
        top:200px
    }
}

@media (max-width: 1280px) {
    .video-box .link-group {
        top:235px
    }
}

@media (max-width: 992px) and (orientation: landscape) {
    .video-box .link-group {
        top:calc((100vh - 252px) /2)
    }
}

.video-box .link-group .link-box {
    position: relative;
    padding: 25px 15px;
    background-color: #606060;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px
}

@media (max-width: 992px) and (orientation: landscape) {
    .video-box .link-group .link-box {
        padding:15px 5px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px
    }
}

.video-box .link-group .link-box a {
    margin-bottom: 10px
}

.video-box .link-group .link-box a:last-of-type {
    margin-bottom: 0
}

.video-box .link-group .link-box a svg {
    width: 40px;
    height: 40px;
    fill: #fff;
    transition: all .3s
}

@media (max-width: 992px) and (orientation: landscape) {
    .video-box .link-group .link-box a svg {
        width:30px;
        height: 30px
    }
}

.video-box .link-group .link-box a.line:hover svg {
    fill: #9cd798
}

.video-box .link-group .link-box a.fb:hover svg {
    fill: #9aafda
}

.video-box .link-group .link-box a.youtube:hover svg {
    fill: #ff8080
}

.video-box .link-group .link-btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    top: calc((100% - 30px) / 2);
    left: calc(-35px);
    background-color: #3db1ff;
    border-radius: 50px;
    border: 2px solid #fff;
    transition: all .3s
}

.video-box .link-group .link-btn svg {
    width: 10px;
    height: 10px;
    transform: rotate(180deg);
    fill: #fff
}

.video-box .link-group .link-btn:hover {
    background-color: #0080d6
}

.video-box .link-group.open {
    transform: translateX(0)
}

.video-box .link-group.open .link-btn {
    left: calc(-30px / 2)
}

.video-box .link-group.open .link-btn svg {
    transform: rotate(0)
}

.video-box .video-menu-group {
    position: absolute;
    z-index: 9999;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: all .3s
}

.video-box .video-menu-group .menu-box {
    position: relative;
    width: 100%;
    padding: 30px 15px;
    background-color: rgba(51,51,51,0.9);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.8)
}

@media (max-width: 992px) and (orientation: landscape) {
    .video-box .video-menu-group .menu-box {
        padding:15px 0
    }
}

.video-box .video-menu-group .menu-box .menu-btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    top: calc(-35px);
    left: calc((100% - 30px) / 2);
    background-color: #3db1ff;
    border-radius: 50px;
    border: 2px solid #fff;
    transition: all .3s;
    animation-name: btn_move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}

.video-box .video-menu-group .menu-box .menu-btn svg {
    width: 10px;
    height: 10px;
    transform: rotate(-90deg);
    fill: #fff
}

.video-box .video-menu-group .menu-box .menu-btn:hover {
    background-color: #0080d6
}

.video-box .video-menu-group.open {
    transform: translateY(0)
}

.video-box .video-menu-group.open .menu-btn {
    top: calc(-30px / 2);
    animation: none
}

.video-box .video-menu-group.open .menu-btn svg {
    transform: rotate(90deg)
}

.return-btn {
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding: 15px;
    width: 80px;
    height: 80px
}

@media (max-width: 992px) and (orientation: landscape) {
    .return-btn {
        bottom:10px;
        right: 80px;
        width: auto;
        height: auto;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center
    }
}

.return-btn svg {
    fill: #fff;
    width: 50px;
    height: 50px
}

@media (max-width: 992px) and (orientation: landscape) {
    .return-btn svg {
        width:30px;
        height: 30px
    }
}

.return-btn sub {
    margin-top: 5px;
    white-space: nowrap;
    font-size: 12px;
    color: #fff
}

.start {
    display: none;
    cursor: pointer;
    position: fixed;
    z-index: 999;
    top: calc((100vh - 80px) / 2);
    left: calc((100vw - 80px) / 2);
    width: 80px;
    height: 80px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 100px
}

.start svg {
    width: 30px;
    height: 30px;
    fill: #fff
}

@media (max-width: 992px) and (orientation: landscape) {
    .start.show {
        display:inline-block
    }
}

/*# sourceMappingURL=style.min.css.map */
